.nav{
    position: absolute;
    top:  0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(165, 240, 136, 0.007);
    margin-bottom: 20px;
    box-shadow: 1px 1px #d8d3d398;
    float: left;
    display: block;
}

.c{
    position: relative;
    top: 14px;
    display: inline;
    margin-top: 20px;
    margin: 10px;
    text-decoration:none;
    color: black;
    text-align: center;
    font-size: large;
}
.c:hover{
    color:#acddd1a6;
}
.bc{
    position: absolute;
    top: 7px ;
    right: 20px;
    width: 97px;
    height: 35px;
    border-radius: 9px;
    border: none;
    color: black;
    background-color:rgba(9, 211, 160, 0.808);
    cursor: pointer;
}
.slide{
    position: relative;
    padding-top: 40px;
}
.check input{
  font-family: Open Sans;
}
.bc:hover{
    color: rgba(5, 0, 46, 0.952);
    background-color: #05cfc5b0;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.cal{
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-width: 1px;
    border-color: #c0fff75b;
    box-shadow: 1px 0px 0px 1px#968d8d67;
    height: 31px;
}
@media (min-width: 768px) {
  .check{
    width: 100%;
    background-color: #f3fcfaad;
    display:flex;
    justify-content: center;
}}
@media (max-width: 480px) {
  .check{
    justify-content: baseline;
    float:inline-start;
    width: 100%;
    background-color: #f3fcfaad;
  }
}
body{
    background-image: url("sources/background.jpg");
    background-repeat:no-repeat;
    background-size: 85%;
    background-position: center;
    background-attachment: fixed;
}
.para{
    float: right;
    text-align: right;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  body {
    font-family: Arial, sans-serif;
  }
  h1 {
    font-family: "Readex Pro", sans-serif;
    font-weight: 700;
    font-size: 2.6em;
    text-align: center;
    margin-bottom: 1em;
  }
  h2 {
    font-family: "El Messiri", sans-serif;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  h3, p {
    font-size: 1.2em;
    line-height: 1.5;
    font-family: "Cairo", sans-serif;
    font-weight: 300;
  }
  .dd{
    height: 40px; 
    width: 120px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #c0fff75b;
    box-shadow: 1px 0px 0px 1px#968d8d67;
    margin-top: 32px;
  }
  
@media (min-width:490px){.fin{
  width:100%;
  height: 140px;
  background-color: #2649056c;
  font-family: "Roboto", sans-serif;
  float: inline-start; 
  text-align: center;
  display:inline;
  backdrop-filter: blur(20px);
  padding-top: 30px;

  }
  .drop{
    display: none;
  }
}
  @media (max-width:480px){
    .bc{
      margin-bottom: 10px;
    }
    .fin{
    backdrop-filter: blur(30px);
    width:100%;
    height: 90px;
    flex-flow:wrap;
    background-color: #28421050;
    font-weight: 200; 
    }}
@media (min-width:490px){.fin a{
      font-family: "Roboto", sans-serif;
      color: rgb(255, 255, 255);
      padding-left: 7px;
      text-decoration: none;
      padding: 10px;
      bottom: 0px;
      text-align: center;
      display:inline;
      justify-content: center;
    }}
@media (max-width:480px){
  .x{
    float: left;
    display: flex;
    padding-right: 100px;
  }
  .z{
    float: left;

    display: flex;
  }
  .fin a{
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 400;
  display:inline-table;
  float:initial;
  padding-right:20%;
}


}
.copy{
  text-align: center;
  justify-content: center;
}
.toggle_btn{
  position: absolute;
  top: 13px;
  right: 19px;
  color: #0961a8b0;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
@media (max-width:768px){
  .nav a,.bc{
    display: none;
  }
  .nav,.toggle_btn{
    display: block;
  }
  .drop{
    display: block;
  }
}

.drop{
  position: absolute;
  right: 2rem;
  top:60px;
  width: 300px;
  backdrop-filter:blur(15px);
  background: rgba(0, 82, 57, 0.808);
  height: 0px;
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.drop a {
    margin-top: 0px;
    padding-top: 0.69rem;
    display: flex;
    justify-content: center;
}
.drop .bc{
  position:unset;
  display: block;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 1.15rem;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-bottom: 9px;
  height: fit-content;
  width: 100%;
  text-decoration: none;
  border-radius: 12px;
}
.drop.open{
  height: 268px;
}
.p{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width:520px){
  .check{
    display: block;

  }

}
@media (max-width: 520px) {
  #from{
    display: block;
  }
  #results {
    display: block;
  }
}